/*-----------------------------------*\
  #style.css
\*-----------------------------------*/

        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            background-color: #f8f9fa;
            color: #343a40;
            text-align: center;
        }

        .header {
            color: 006699;
            text-align: center;
        }

        main {
            max-width: 600px;
            margin: 60px auto;
            background-color: #fff;
            padding: 10px;
            border-radius: 18px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }

        input[type="text"],
        input[type="date"],
        label,
        button {
            padding: 8px;
            margin: 7px;
            border: none;
            border-radius: 5px;
            font-size: 13px;
            display: inline-block;
            vertical-align: middle;
        }

        label {
            min-width: 10px;
            text-align: right;
        }

        input[type="text"],
        input[type="date"] {
            width: calc(25% - 4px);
            box-sizing: border-box;
        }

        .date-inputs {
            display: inline-block;
            margin: 2;
        }

        button {
            background-color: #339966;
            color: white;
            cursor: pointer;
            transition: background-color 0.3s ease;
        }

        button:hover {
            background-color: #0056b3;
        }

        table {
            border-collapse: collapse;
            width: 100%;
            margin-top: 16px;
        }

        th, td {
            border: 1px solid #ddd;
            padding: 5px;
            text-align: center;
			font-size: 14px;
        }

        th {
            background-color: #006699;
            color: white;
			text-align: center;
        }

        th:first-child, td:first-child {
            border-left: none;
        }

        th:last-child, td:last-child {
            border-right: none;
        }

        tr:nth-child(even) {
            background-color: #f2f2f2;
        }
		
		a {
		text-decoration: none;
		color: 339966;
		
		}

        #noteContainer {
            margin-top: 10px;
            display: none;
            font-style: italic;
        }
		
		#apiRequestsInfoContainer {
		font-size: 13px;
        background-color: #f2f2f2;
        padding: 5px 0px 1px 0px;
        border-radius: 10px;
		}
		